.list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.listitem {
  padding: 0.2rem;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}