@mixin box_parts {
  background-color: #FAFAFA;
  border: 1px solid #DDD;
  text-align: center;
  overflow: hidden;
}

@mixin flex_holizontial {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* 左右 */
  align-items: center;
  /* 上下 */
}

@mixin flex_vertical {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.header {
  display: fixed;
  top: 0;
  height: 2rem;
  @include box_parts;
  @include flex_holizontial;
}

.footer {
  display: fixed;
  bottom: 0;
  height: 2rem;
  @include box_parts;
  @include flex_holizontial;
}

.main {
  display: grid;
  grid-template-areas:
    "title  title  title"
    "sec_l  body   sec_r";
  grid-template-rows: 3rem auto;
  grid-template-columns: 3rem auto 3rem;
  column-gap: 1px;
  row-gap: 1px;

  width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  margin: 2rem 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-size: 1rem;

  .title {
    grid-area: title;
    @include box_parts;
    @include flex_holizontial;

    font-size: 2rem;
  }

  .sec_l {
    grid-area: sec_l;
    @include box_parts;
    @include flex_vertical;
  }

  .sec_r {
    grid-area: sec_r;
    @include box_parts;
    @include flex_vertical;
  }

  .body {
    grid-area: body;
    @include box_parts;
    @include flex_vertical;
  }
}